.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .flag {
    width: 100%;
    max-height: 150px;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .details {
    font-size: 14px;
    margin-bottom: 5px;
  }
